<div class="marquee-bar">
  <div class="marquee-track">
    <span>5 Minutes Every Morning</span><span class="marquee-star">✦</span><span>People Asked If I Lost Weight</span><span class="marquee-star">✦</span><span>De-Puff in 60 Seconds</span><span class="marquee-star">✦</span><span>Jawline Definition</span><span class="marquee-star">✦</span><span>30-Day Guarantee</span><span class="marquee-star">✦</span><span>Once You Start, You Won't Stop</span><span class="marquee-star">✦</span><span>No Serum Does This</span><span class="marquee-star">✦</span>
    <span>5 Minutes Every Morning</span><span class="marquee-star">✦</span><span>People Asked If I Lost Weight</span><span class="marquee-star">✦</span><span>De-Puff in 60 Seconds</span><span class="marquee-star">✦</span><span>Jawline Definition</span><span class="marquee-star">✦</span><span>30-Day Guarantee</span><span class="marquee-star">✦</span><span>Once You Start, You Won't Stop</span><span class="marquee-star">✦</span><span>No Serum Does This</span><span class="marquee-star">✦</span>
  </div>
</div>

{% schema %}
{
  "name": "Marquee Bar",
  "presets": [{ "name": "Marquee Bar" }]
}
{% endschema %}
